<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/common :: head('Eshop application')"></head>
    <body>
        <nav th:replace="fragments/common :: navigation"></nav>

        <div class="container">
            <div class="row py-2">
                <div class="col-12">
                    <form th:action="@{/product}" method="post" th:object="${product}">
                        <input type="hidden" id="id" th:field="*{id}">
                        <div class="form-group">
                            <label>Product name</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter product name">
                            <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            <label>Cost</label>
                            <input type="text" class="form-control" id="cost" th:field="*{cost}" placeholder="Enter product cost">
                            <p class="text-danger" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></p>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <th:block th:insert="fragments/common :: end_scripts"></th:block>
    </body>
</html>