<div class="row py-2">
  <div class="col-12">
    <a class="btn btn-primary" routerLink="/product/new">Add Product</a>
  </div>

  <div class="col-12 mt-3">
    <form class="form-inline" th:method="get">
      <div class="form-group mb-2 mr-2">
        <label for="productNameFilter" class="sr-only">Product Name Filter</label>
        <input [(ngModel)]="productNameFilter" type="text" class="form-control" id="productNameFilter"
               name="productNameFilter" placeholder="Enter product name">
      </div>
      <div class="form-group mb-2 mr-2">
        <label for="minCostFilter" class="sr-only">Min Cost Filter</label>
        <input [(ngModel)]="minCostFilter" type="text" class="form-control" id="minCostFilter"
               name="minCostFilter" placeholder="Enter min cost">
      </div>
      <div class="form-group mb-2 mr-2">
        <label for="maxCostFilter" class="sr-only">Max Cost Filter</label>
        <input [(ngModel)]="maxCostFilter" type="text" class="form-control" id="maxCostFilter"
               name="maxCostFilter" placeholder="Enter max cost">
      </div>
      <button type="submit" class="btn btn-primary mb-2" (click)="getWithFilter()">Apply</button>
    </form>
  </div>

  <div class="col-12">
    <table class="table table-bordered my-2">
      <thead>
      <tr>
        <th scope="col">Id<a routerLink="" (click)="sort('id')"><i [ngClass]="getSortClass('id')"></i></a></th>
        <th scope="col">Product Name<a routerLink="" (click)="sort('name')"><i [ngClass]="getSortClass('name')"></i></a></th>
        <th scope="col">Cost<a routerLink="" (click)="sort('cost')"><i [ngClass]="getSortClass('cost')"></i></a></th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="isProductsExist();">
      <tr *ngFor="let product of productsPage?.content">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.cost}}</td>
        <td>
          <a class="btn btn-success" routerLink="/product/{{product.id}}"><i class="fas fa-edit"></i></a>
          <a class="btn btn-danger" (click)="delete(product.id)"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="!isProductsExist();">
      <tr>
        <td colspan="4">No data</td>
      </tr>
      </tbody>
    </table>

    <div class="col-12" *ngIf="isProductsExist()">
      <nav aria-label="...">
        <ul class="pagination">
          <li [ngClass]="getPreviousClass()">
            <a class="page-link" routerLink="" (click)="previousClick()">Previous</a>
          </li>

          <li *ngFor="let num of numbers()" [ngClass]="getPageNumberClass(num)">
            <a class="page-link" routerLink="" (click)="pageClick(num)">{{num}}</a>
          </li>

          <li [ngClass]="getNextClass()">
            <a class="page-link" routerLink="" (click)="nextClick()">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
