<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th th:fragment="header(title, sort_column)" scope="col">[[${title}]]
        <a th:href="@{/product(page=${products.number + 1}, size=${products.size},
            productNameFilter=${param.productNameFilter}, minCostFilter=${param.minCostFilter},
            maxCostFilter=${param.maxCostFilter}, sortBy=${sort_column},
            direction=(!${param.direction} or ${#strings.equals(param.direction, 'asc')} or
                !${#strings.equalsIgnoreCase(title, param.sortBy)}) ? 'desc' : 'asc')}">
            <i class="fa " th:classappend="(${#strings.equalsIgnoreCase(title, param.sortBy)}
                and ${#strings.equals(param.direction, 'desc')}) ? 'fa-sort-up' : 'fa-sort-down'"></i></a>
    </th>

    <a th:fragment="paging_page(text, page_number)" class="page-link"
       th:href="@{/product(page=${page_number}, size=${products.size}, productNameFilter=${param.productNameFilter},
               minCostFilter=${param.minCostFilter}, maxCostFilter=${param.maxCostFilter}, sortBy=${param.sortBy},
               direction=${param.direction})}">[[${text}]]</a>

    <div th:fragment="filter(filterName, input_text, param_value)" class="form-group mb-2 mr-2">
        <label th:for="${filterName}" class="sr-only">[[${input_text}]]</label>
        <input type="text" class="form-control" th:id="${filterName}" th:value="${param_value}"
               th:name="${filterName}" th:placeholder="${input_text}">
    </div>
</html>